/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--RobotoFont);
  font-size: 16px;
}

/* Root Var */
:root {
  /* Colors */
  --4aColor: #4a4a4a;
  --9bColor: #9b9b9b;
  --f3Color: #f3f3f3;
  --headerback: #9dc20a;
  --c61Color: #c6c1c1;
  --97col: #979797;

  /* font style */
  --italicfw: italic;
  --boldfw: bold;
  --normalFontw: normal;

  --PalatinoFont: "Palatino", serif;
  --RobotoFont: "Roboto", sans-serif;
  --FontRubik: "Rubik", sans-serif;
  --fontDamion: "Damion", cursive;

  --fsize1: .625rem;
  --fsize2: .75rem;
  --fsize3: 0.875rem;
  --fsize4: 1rem;
  --fsize5: 1.125rem;
  --fsize6: 1.25rem;
  --fsize7: 1.5;
  --fsize8: 1.875rem;
  --fsize9: 2rem;
  --fsize10: 2.25rem;
  --fsize11: 3.125rem;

  --lineheight1: 1.1;
  --lineheight2: 1.2;
  --lineheight3: 1.3;
  --lineheight4: 1.4;
  --lineheight5: 1.6;

}

.main-content {
  position: relative;
  top: 5.36125rem;
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: var(--4aColor);
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

/* 895px default */
@media only screen and (max-width: 768px) {
  .main-content {
    top: 2.5625rem;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  padding: var(--fsize8);
}

header .logo {
  flex: 1;
  text-decoration: none;
} 

header nav ul {
  display: flex;
}

nav li {
  padding-left: 3.5rem;
  list-style-type: none;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: var(--4aColor);
  text-decoration: none;
}

nav .button {
  padding: .1875rem .5rem;
  background-color: var(--headerback);
  line-height: var(--lineheight5);
  color: white;
}

nav li:last-child {
  display: none;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

/* 895px default */
@media only screen and (max-width: 768px) {
  nav :last-child {
    display: block;
  }

  header .content {
    padding: 1rem 1rem;
  }
}

/* 600px default */
@media only screen and (max-width: 768px) {
  header .desktop {
    display: none;
  }
  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }
}

/* top-main section */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
  background-image: url("../images/banner-landingpage.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

#sign-up-cta {
  position: relative;
  top: 10.6875rem;
  left: 10%;
  padding: 0 5rem 2.5rem;
  border: 1px solid var(--97col);
  border-radius: 4px;
  background-color: var(--headerback);
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: var(--RobotoFont);
  font-size: var(--fsize6);
  line-height: var(--lineheight4);
  color: white;
}

#sign-up-cta h1 {
  font-size: var(--fsize11);
}

#sign-up-cta h2 {
  font-size: var(--fsize10);
}

#sign-up-cta span strong {
  font-weight: var(--boldfw);
}

#sign-up-cta .cursive {
  font-family: var(--fontDamion);
}

#sign-up-cta .striking {
  font-family: var(--FontRubik);
  padding-bottom: var(--fsize2);
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
}

/* 895px default */
@media only screen and (max-width: 768px) {
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .centent {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1{
    font-size: var(--fsize11)
  }
  
  #sign-up-cta h2 {
    font-size: var(--fsize10)
  }
}

/* 600px default */
@media only screen and (max-width: 768px) {
  #sign-up-section{
    height: 20rem;
  }

  #sign-up-cta h1 {
font-size: var(--fsize10);
  }

  #sign-up-cta h2 {
font-size: var(--fsize9);
  }
}

/* features section */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color: var(--f3Color);
}

.feature {
  flex: 1;
  padding: 2rem;
  margin: 0 1.25rem;
  background-color: white;
}

.feature .image-container {
  width: 90%;
  height: 65%;
  margin: 0 auto;
}

.feature .content {
  padding: 2.5rem 0;
}

.feature h2 {
  padding-bottom: .5rem;
  font-size: var(--fsize10);
  font-weight: var(--boldfw);
  color: var(--4aColor);
}

.feature h3 {
  font-size: 1rem;
  line-height: var(--lineheight2);
  font-weight: var(--lineheight2);
  color: var(--4aColor);
}

/* 895px default */
@media only screen and (max-width: 768px) {
  #features-section {
    padding: 1rem;
  } 
  
  .feature {
    margin: 0 .5rem;
    padding: 1;
  }

  .feature h2{
    font-size: var(--fsize9);
    line-height: var(--lineheight3);
  }

  .feature h3 {
    font-size: var(--fsize3);
    line-height: var(--lineheight4);
  }
}

/* 600px default */
@media only screen and (max-width: 768px) {
  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }

  .feature .content {
    padding: 1.25rem 0 1.875rem 0;
  }
}

/* Filters section */

#filters-section {
  padding: 4rem 0;
  background-color: var(--4aColor);
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-size: var(--fsize4);
  font-weight: var(--boldfw);
  color: white;
}

#filters-section .content h3 {
  font-size: var(--fsize4);
  line-height: var(--lineheight4);
  font-weight: var(--boldfw);
  color: white;
}

#filters-section .images-container {
  display: flex;
  max-width: 100%;
  padding: 0 1%;
}

/* 600px default */
@media only screen and (max-width: 768px) {
  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: var(--fsize5);
    line-height: var(--lineheight3);
    font-weight: var(--boldfw);
  }

  #filters-section .content h3 {
    font-size: var(--fsize3);
    line-height: var(--lineheight4);
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }
}

/* Quotes section */

#quotes-section {
  background-color: var(--f3Color);
}

#quotes-section .content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 1.5rem;
}

#quotes-section .quote {
  padding-right: 1.875rem;
  font-family: var(--PalatinoFont);
  font-size: var(--fsize8);
  line-height: var(--lineheight1);
  font-style: var(--italicfw);
  color: var(--4aColor);
}

#quotes-section .quote-citation {
  height: 1.875rem;
}

/* 895px default */
@media only screen and (max-width: 768px) {
  #quotes-section .content {
    padding: 3rem 1.5rem;
  }
}

/* 600px default */
@media only screen and (max-width: 768px) {
  #quotes-section .content {
    flex-flow: column;
    padding: 1.875rem .625rem;
  }

  #quotes-section .quote {
    font-size: var(--fsize7);
    line-height: var(--lineheight4);
  }

  #quotes-section .quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
}

/* footer */

footer {
  background-color: var(--9bColor);
  padding: 1.5rem 2rem;
}

footer .content {
color: white;
display: flex;
font-size: var(--fsize2);
}

footer .copyright {
  flex-grow: 1;
}

/* 600px default */
@media only screen and (max-width: 768px) {
  footer .content {
    font-size: var(--fsize1);
  }
}